html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

body {
  height: 100%;
  display: block;
}

#chat-thread-list {
  height: 91%;
  margin: 0 auto 87px;
  overflow: auto;
  padding-bottom: 42px;
  width:100%;
}

section[role="region"] > header:first-child {
  position: fixed;
  width: 100%;
  right:0;
  top:0;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

form[role="search"].bottom {
  z-index:2;
  position:fixed;
  min-height: 42px;
  bottom:0;
  width: 100%;
  left:0;
  right:0;
}

#chat-input-textarea {
  min-height: 42px;
}

[data-type="list"] {
  padding-top:5rem;
}

.open-drawer {
  z-index:1000;
}

section[data-type="sidebar"] > header .icon.icon-close {
  background-image: url(headers/images/icons/close.png);
}

#newUserInputs {
  font-size: 1.6rem;
  padding-left: 1.5rem;
}

#newUserInputs label{
  float: left;
  width: 25%;
}

.newUserInputError{
  padding-left: 1.5rem;
  font-size: 1.6rem;
  color: red;
}

input[id="username"],
input[id="email"],
input[id="phone"]{
  -moz-box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 33%;
  height: 2rem;
  resize: none;
  padding: 0 0.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  background: #fff url(input_areas/images/ui/shadow.png) repeat-x;
}