html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

body {
  height: 100%;
  display: block;
}

#chat-thread-list {
  height: 91%;
  margin: 0 auto 87px;
  overflow: auto;
  padding-bottom: 42px;
  width:100%;
}

section[role="region"] > header:first-child {
  position: fixed;
  width: 100%;
  right:0;
  top:0;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

form[role="search"].bottom {
  z-index:2;
  position:fixed;
  bottom:0;
  width: 100%;
  left:0;
  right:0;
}

[data-type="list"] {
  padding-top:5rem;
}

.open-drawer {
  z-index:1000;
}

section[data-type="sidebar"] > header .icon.icon-close {
  background-image: url(headers/images/icons/close.png);
}